{% extends 'base.html' %}

{% block title %}
    Index page
{% endblock %}

{% block content_title %}
    main page
{% endblock %}

{% block content %}
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad aspernatur commodi consequuntur dicta
        dolore eius est, eum iure numquam obcaecati officia pariatur quos rem repellendus repudiandae tenetur veniam
        vitae.</p>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad aspernatur commodi consequuntur dicta
        dolore eius est, eum iure numquam obcaecati officia pariatur quos rem repellendus repudiandae tenetur veniam
        vitae.</p>

{% endblock %}